body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #222222;
}
body .purple-color {
  color: #814EDF;
}
body .red-color {
  color: #FF3636;
}
body .card {
  width: 416;
  border-radius: 10px;
  border: none;
}
body .card .card-img-top {
  border-radius: 10px;
  width: 367px;
}
body .card .card-title {
  font-size: 22px;
  font-weight: 600;
}
body .card .card-text {
  font-size: 16px;
  font-weight: 400;
}
body .card .logo-tech {
  width: 40px;
}

#Navigation .logo-brand {
  width: 40px;
}
#Navigation .nav-item {
  margin-left: 10px;
}
#Navigation .nav-item .nav-link {
  font-weight: 500;
}
#Navigation .btn-navbar-right {
  background-color: #EBEBEB;
  margin-right: 20px;
}

#Header {
  padding: 150px 0 0px;
  height: 70vh;
  background-image: url(../Assets/img-jumbotron.png);
  background-size: cover;
  color: #FFFFFF;
}
#Header .title {
  font-size: 60px;
  font-weight: 900;
}
#Header .section-categories {
  margin-top: 180px;
  color: #222;
  background-color: #FFF;
  border-radius: 10px;
}
#Header .section-categories .categories-detail {
  padding-top: 15px;
}
#Header .section-categories .categories-detail .icon-category {
  width: 40px;
}
#Header .section-categories p {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

#Bootcamps {
  padding-top: 150px;
  padding-bottom: 150px;
}
#Bootcamps h3 {
  margin-top: -10px;
  font-size: 32px;
  font-weight: 700;
}

#Categories {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../Assets/Ornaments.png);
  background-size: cover;
}
#Categories h3 {
  margin-top: -10px;
  font-size: 32px;
  font-weight: 700;
}
#Categories .list-categories {
  border-radius: 10px;
  padding-top: 20px;
  width: 417px;
}
#Categories .list-categories .logo-general {
  width: 40px;
}
#Categories .list-categories h4 {
  font-size: 20px;
  font-weight: 600;
}

#Classes {
  padding-top: 80px;
}
#Classes h3 {
  margin-top: -10px;
  font-size: 32px;
  font-weight: 700;
}
#Classes p {
  font-weight: 500;
  margin-right: 10px;
}

#Values {
  padding-top: 80px;
  padding-bottom: 80px;
}
#Values img {
  width: 623px;
}
#Values h3 {
  margin-top: -10px;
  font-size: 32px;
  font-weight: 700;
}
#Values .icon-checklist-purple {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

#Testimonial {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../Assets/Ornaments.png);
  background-size: cover;
}
#Testimonial h3 {
  margin-top: -10px;
  font-size: 32px;
  font-weight: 700;
}
#Testimonial .card {
  padding-top: 10px;
  padding-bottom: 10px;
}
#Testimonial .card img {
  width: 40px;
  height: 40px;
}
#Testimonial .card p {
  font-size: 18px;
}
#Testimonial .card .occupation {
  margin-top: -10px;
}

#FAQs {
  padding-top: 150px;
  padding-bottom: 150px;
}
#FAQs h3 {
  margin-top: -10px;
  font-size: 32px;
  font-weight: 700;
}
#FAQs .accordion .accordion-button {
  font-size: 18px;
  font-weight: 700;
}

#Footer {
  justify-content: start;
}
#Footer .logo {
  width: 207px;
}
#Footer .link-social-media {
  margin-right: 20px;
}
#Footer .link-social-media img {
  width: 40px;
}
#Footer h4 {
  font-size: 20px;
  font-weight: 600;
}
#Footer a {
  text-decoration: none;
  color: #222;
}
#Footer .link {
  margin: 5px;
}
#Footer footer {
  background-color: #814EDF;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */